// ------ Colors ------
$white: #ffffff;
$black: #111111;
$red: rgb(212, 14, 14);
$green: rgb(7, 102, 7);
$gray: #555555;

// ------ Paddings ------
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 3rem;

// ------ Paddings ------
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 3rem;

// ------ Borders ------

$border-radius-sm: 3px;
$border-radius-lg: 50px;

// ------ Font ------

$font-size-sm: 1.6rem;
$font-size-md: 3rem;
$font-size-lg: 6rem;
